.generator__container {
    max-width: 768px;
}

.generator__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-3);
}

.generator__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.generator__active {
    color: var(--title-color-dark)
}
.generator__active:hover{
    color: var(--container-color);
}

.generator__sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.generator__content {
    display: none;
}

.generator__content-active {
    display: block;
}

.generator__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.generator__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

@media screen and (max-width: 992px) {
    .generator__container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .generator__container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}

@media screen and (max-width: 576px) {
    .generator__sections {
        grid-template-columns: initial;
    }

    .generator__button {
        margin: 0 var(--mb-0-75);
    }
}

@media screen and (max-width: 350px) {
    .generator__data {
        gap: 0.5rem;
    }
}