.random__content {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
    align-items: center;
}

.random__data {
    display: grid;
    grid-template-rows: 3.5fr 0.5fr;
    padding: 1.8rem;
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 0.5rem;
}

.random__quote {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.random__details {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-25);
}

.random__img {
    /* background: url(); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: center;
    width: 300px;
    height: 300px;
    border: 2px dotted green;
    border-radius: 0.5rem;
}

@media screen and (max-width: 992px) {
    .random__content {
        grid-template-columns: 100px repeat(1, 1fr);
        column-gap: 1.25rem;
    }

    .random__img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .random__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .random__img {
        order: initial;
        justify-self: initial;
        width: 200px;
        height: 200px;
    }

    .random__data {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 350px) {
    .random__img {
        width: 180px;
        height: 180px;
    }
}